doc/*.html
doc/html
.DS_Store
*~
demos/html
*.mex*
*.orig
*.mat
*.tmp
Job*
Java/JavaSeis/bin*
Java/JavaSeis/.metadata
Java/JavaSeis/JavaProject
ud_*
Java/JavaSeis/src/org*
Java/JavaSeis/src/slim/javaseis/utils/Main.java
Java/JavaSeis/src/slim/javaseis/utils/MultiArraySDC.java
Java/JavaSeis/src/slim/javaseis/utils/Mb2JS.java